<h2>Mudar senha</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :current_password, "Senha atual" %><br />
  <%= f.password_field :current_password %></div>

  <div><%= f.label :password, "Nova senha" %><br />
  <%= f.password_field :password, :autocomplete => "off" %></div>

  <div><%= f.label :password_confirmation, "Redigite a nova senha" %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.submit "Mudar senha" %></div>
<% end %>

<%= link_to "Voltar", :back %>
