<h2>Criar representante</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email, "Email" %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label :organization, "Organização" %><br />
  <%= f.collection_select :organization_id, @organizations, :id, :name  %></div>

  <br />

  <div><%= f.submit "Criar representante" %></div>
  <p><%= link_to 'Voltar', "/admin/representantes" %></p>
<% end %>

<%= render "devise/shared/links" %>
