<h2>Organizações</h2>

<% if @admin_organizations.empty? %>
  <p>Nenhuma organização cadastrada</p>
<% else %>
  
  
  <% @admin_organizations.each do |org| %>
    <div class="organization">

      <h3><%= org.name %></h3>

      <% if org.athletes.empty? %>
        <p>Não existem atletas cadastrados nesta organização</p>
      <% else %>

        <h4>Atletas</h4>

        <ul>
          <% org.athletes.each do |atl| %>
            <li><%= atl.details %></li>
          <% end %>
        </ul>

      <% end %>

      <% if org.athletes.empty? %>
        <p>Não existem representantes cadastrados para esta organização</p>
      <% else %>
        <h4>Representantes</h4>

        <ul>
            <% org.users.each do |reps| %>
              <li><%= reps.email %></li>
            <% end %>
        </ul>  
      <% end %>       

      <p class="links">
        <%= link_to 'Exibir detalhes', org %> |
        <%= link_to 'Editar', edit_admin_organization_path(org) %> |
        <%= link_to 'Apagar', org, confirm: 'Tem certeza disso?', method: :delete %>
      </p>
      
    </div>
  <% end %>
  
<% end %>

<br />

<%= link_to 'Nova organização', new_admin_organization_path %>
