<%= form_for(@admin_competition) do |f| %>
  <% if @admin_competition.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_competition.errors.count, "error") %> prohibited this admin_competition from being saved:</h2>

      <ul>
      <% @admin_competition.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "Nome" %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :min_age, "Idade mínima" %><br />
    <%= f.number_field :min_age %>
  </div>
  <div class="field">
    <%= f.label :max_age, "Idade máxima" %><br />
    <%= f.number_field :max_age %>
  </div>
  <div class="field">
    <%= f.label :max_per_org, "Inscrições máximas por organização" %><br />
    <%= f.number_field :max_per_org %>
  </div>
  <div class="field">
    <%= f.label :sex, "Sexo" %><br />
    <%= f.select :sex, options_for_select([["Masculino", "Masculino"],
     ["Feminino", "Feminino"]]) %>
  </div>
  <div class="actions">
    <%= f.submit "Criar/Atualizar dados" %>
  </div>
<% end %>
