<h2>Competições</h2>

<% if @admin_competitions.empty? %>
  <p>Nenhuma competição cadastrada</p>
<% else %>
  <% @admin_competitions.each do |admin_competition| %>
    <div class="competicao">
      <h3><%= admin_competition.full_name %></h3>

      <% if admin_competition.athletes.empty? %>
        <p>Nenhum atleta cadastrado nesta competição</p>
      <% else %>
        <ul>

          <% admin_competition.athletes.each do |athlete| %>
            <li>athlete.name | edit_admin_organization_path(admin_organization)</li>
          <% end %>

        </ul>
      <% end %>

      <p class="links">
        <%= link_to 'Exibir detalhes', admin_competition %> |
        <%= link_to 'Editar', edit_admin_competition_path(admin_competition) %> |
        <%= link_to 'Apagar', admin_competition, confirm: 'Tem certeza disso?', method: :delete %>
      </p>
    </div>

  <% end %>

<% end %>

<br />


<%= link_to 'Nova competição', new_admin_competition_path %>
