<p id="notice"><%= notice %></p>

  <div class="competicao">
    <h3><%= @admin_competition.full_name %></h3>

    <% if @admin_competition.athletes.empty? %>
      <p>Nenhum atleta cadastrado nesta competição</p>
    <% else %>
      <ul>

        <% @admin_competition.athletes.each do |athlete| %>
          <li><strong><%= athlete.organization.name %></strong> | <%= athlete.details %></li>
        <% end %>

      </ul>
    <% end %>

  </div>


<%= link_to 'Editar competição', edit_admin_competition_path(@admin_competition) %> |
<%= link_to 'Voltar', admin_competitions_path %>
