<!DOCTYPE html>
<html>
<head>
  <title>SiteOlimp</title>
  <link href='http://fonts.googleapis.com/css?family=Oregano' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="tudo">
		<header>
			<% if user_signed_in? %>
				<div class="logado">
					<div class="container">

						<div class="row">
						
							<div class="span5">
								<p class="detalhes">
									<%= current_user.details %>
								</p>
							</div>

							<div class="span7">
								<p class="nav_link">

									<% if current_user.is_admin %>
										<%= link_to 'Gerenciar Competições', admin_competitions_path %> |
										<%= link_to 'Gerenciar Representantes', 
											'/users/sign_up' %> |
										<%= link_to 'Gerenciar Organizações', admin_organizations_path %> |
									<% else %>
										<%= link_to 'Gerenciar Atletas', representante_athletes_path %> |
										<%= link_to 'Inscrever atletas', representante_athletes_path %> |
									<% end %>

									<%= link_to('Sair', destroy_user_session_path, :method => :delete) %>
								</p>
							</div>

						</div>
					</div>
				</div>	
			<% end %>		

			<div class="container">			
				<div class="row">

					<div class="span7 nav">
						<nav>
							<ul>
								<li><a href="/">Home</a></li>
								<% if !user_signed_in? %>
									<li><%= link_to('Entrar', new_user_session_path)  %> </li> 
  								<% end %>
							</ul>
						</nav>
					</div>

					<div class="span5 title">
						<h1>Olimpíadas infantis</h1>
					</div>

				</div>

			</div>

		</header>

		<div class="fundo_corpo">
			<div class="container corpo box-shadow">

				<p class="notice"><%= notice %></p> 

				<%= yield %>
				<br />
				<% if user_signed_in? %>
					<%= current_user.inspect %>
				<% end %>

			</div>
		</div>

		<footer>
			<div class="container">
				<div class="row">
					<div class="span12">
						<p>Lorem ipsum sit dolor amet - 2012</p>
					</div>
				</div>
			</div>
		</footer>
	</div>

</body>
</html>
