<!DOCTYPE html>
<html>
<head>
  <title>SiteOlimp</title>
  <link href='http://fonts.googleapis.com/css?family=Oregano' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="tudo">
		<header>
			<div class="logado">
				<div class="container">

					<div class="row">
						<div class="span3">
							<% if user_signed_in? %>
								<p class="nav_link">
									<%= link_to('Sair', destroy_user_session_path, :method => :delete) %></p>
							<% else %>
								<p class="nav_link">
									<%= link_to('Entrar', new_user_session_path)  %></p>
							<% end %>
						</div>
						<div class="span9">
							<% if user_signed_in? %>
								<p class="detalhes">
									<%= current_user.details %>
								</p>
							<% end %>
						</div>
					</div>
				</div>
			</div>			

			<div class="container">			
				<div class="row">

					<div class="span5">
						<nav>
							<ul>
								<li><a href="#">Menu </a></li>
								<li><a href="#">Menu grande</a></li>
								<li><a href="#">Mn</a></li>
								<li><a href="#">Menu 2</a></li>
								<li><a href="#">Menu 3</a></li>
							</ul>
						</nav>
					</div>

					<div class="span7">
						<h1>Olimpíadas infantis</h1>
					</div>

				</div>

			</div>

		</header>

		<div class="fundo_corpo">
			<div class="container corpo box-shadow">

				<p class="notice"><%= notice %></p> 

				<%= yield %>

				<% if user_signed_in? %>
					<%= current_user.inspect %>
				<% end %>

			</div>
		</div>

		<footer>
			<div class="container">
				<div class="row">
					<div class="span12">
						<p>Lorem ipsum sit dolor amet - 2012</p>
					</div>
				</div>
			</div>
		</footer>
	</div>

</body>
</html>
